<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-8 col-xs-8 col-sm-6">
      <div class="card p-3">
        <h2>Sign up</h2>
        <hr>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, input_html: {class: 'rounded-pill'} %>
            <%= f.input :last_name, input_html: {class: 'rounded-pill'} %>
            <%= f.input :username, input_html: {class: 'rounded-pill'} %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "rounded-pill" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", class: "rounded-pill" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password", class: "rounded-pill" } %>
            <%= f.input :biography, input_html: {class: 'rounded-pill'} %>
            <%= f.input :profile_picture, as: :file %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-outline-success rounded-pill btn-block" %>
          </div>
        <% end %>

        <div class="mt-3">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
