<% if @dog.profile_picture.attached? %>
  <div class="banner" style="background-image: url('<%= cl_image_path(@dog.profile_picture.key) %>')"></div>
<% else %>
  <div class="banner" style="background-image: url('https://source.unsplash.com/collection/3816141/1600x900?sig=<%= rand(1..1000) %>')"></div>
<% end -%>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-lg-8">
      <div class="dog-show-card">
        <div class="row">
          <div class="col-10">
            <h2><%= @dog.name %></h2>
          </div>
          <div class="col-2">
            <% if @dog.user.profile_picture.attached? %>
              <%= cl_image_tag @dog.user.profile_picture.key, class: "avatar-large" %>
            <% else %>
              <%= image_tag "no-avatar.png", class: "avatar-large" %>
            <% end %>
            <%= @dog.user.username %>
          </div>
        </div>
        <hr>
        <h5>Breed: <%= @dog.breed %></h5>
        <p class="dog-show-address">City: <%= @dog.city %></p>
      </div>
      <div class="dog-show-card">
        <h3>A bit more about this dog...</h3>
        <hr>
        <p><%= @dog.description %></p>
        <!-- <img class="map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @dog.city %>&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @dog.city %>&key=<%= ENV["GOOGLE_MAP"] %>" alt=""> -->
        <div id="map"
           style="width: 100%; height: 400px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      <% if @dog.pictures.attached? %>
        <div class="dog-show-card">
            <h3>Some pictures...</h3>
            <hr>
            <div class="cards">
              <% @dog.pictures.each do |picture| %>
                  <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(picture.key) %>)">
                  </div>
              <% end -%>
            </div>
        </div>
      <% end -%>
      <div class="dog-show-card">
        <h3>
          <%= pluralize @dog.reviews.size, "review" %>
        </h3>
        <% if policy(@review).create? %>
          <%= render "reviews/form" %>
        <% end -%>
        <hr>
        <div id="reviews" class="mt-3">
          <% if @dog.reviews.blank? %>
            Be the first to leave a review for <%= @dog.name %>.
          <% else %>
            <% @dog.reviews.each do |review| %>
              <p><%= icon('fas','star', class: 'text-warning') * review.rating %> by <%= review.user.username %></p>
              <p><%= review.content %></p>
            <% end %>
          <% end %>
      </div>
    </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-lg-4">
      <div class="dog-show-card">
        <h5>Rent this dog</h5>
        <hr>
        <%= render 'rentings/form' %>
      </div>
      <div class="dog-show-card">
        <h3>Details</h3>
        <hr>
          <ul>
            <li>
              <span><i class="fas fa-medal mr-2"></i><%= pluralize(@dog.palmares, "couple") %> formed</span>
            </li>
            <li>
              <span><i class="fas fa-euro-sign mr-2"></i><%= @dog.price_per_hour %> per hour</span>
            </li>
          </ul>


      </div>
      <div class="dog-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>
          <div class="flex">
            <i class="fab fa-facebook-square fa-2x mr-2"></i>
            <i class="fab fa-twitter-square fa-2x mr-2"></i>
            <i class="fab fa-pinterest-square fa-2x mr-2"></i>
            <i class="fas fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
      <div class="dog-show-card d-flex justify-content-center">
        <%= link_to 'Back', params[:page] == "my-dogs" ? dogs_my_dogs_path : dogs_path, class: 'btn btn-outline-primary rounded-pill' %>
        <% # if current_user == @dog.user %>
        <% if policy(@dog).edit? %>
          <%= link_to 'Edit', edit_dog_path(@dog), class: 'btn btn-outline-warning rounded-pill ml-3' %>
        <% end -%>
        <% if policy(@dog).destroy? %>
          <%= link_to 'Remove', dog_path(@dog), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger rounded-pill ml-3' %>
        <% end -%>
      </div>
    </div>
  </div>

</div>
