<% if @dog.profile_picture.attached? %>
  <div class="banner" style="background-image: url('<%= cl_image_path(@dog.profile_picture.key) %>')"></div>
<% else %>
  <div class="banner" style="background-image: url('https://source.unsplash.com/collection/3816141/1600x900?sig=<%= rand(1..1000) %>')"></div>
<% end -%>
<div class="container <%= (@dog.profile_picture.attached? ? "margin-top-negative" : "mt-3") %>">
  <div class="row">
    <div class="col-8">
      <div class="dog-show-card">
        <h2><%= @dog.name %></h2>
        <p class="dog-show-address"><%= @dog.city %></p>
      </div>
      <div class="dog-show-card">
        <h3>A bit more about this dog...</h3>
        <p><%= @dog.description %></p>
        <img class="map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @dog.city %>&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @dog.city %>&key=<%= ENV["GOOGLE_MAP"] %>" alt="">
      </div>
      <% if @dog.pictures.attached? %>
        <div class="dog-show-card">
            <h3>Some pictures...</h3>
            <div class="cards">
              <% @dog.pictures.each do |picture| %>
                  <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(picture.key) %>)">
                  </div>
              <% end -%>
            </div>
        </div>
      <% end -%>
    </div>
    <div class="col-4">
      <div class="dog-show-card">
        <h5>Rent this dog</h5>
        <% # render 'bookings/form' %>
      </div>
      <div class="dog-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <i class="fas fa-user-friends mr-2"></i><%= @dog.palmares %>
          </div>
          <div class="flex ml-3">
            <i class="fas fa-euro-sign mr-2"></i> <%= @dog.price_per_hour %>
          </div>
        </div>
      </div>
      <div class="dog-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>
          <div class="flex">
            <i class="fab fa-facebook-square fa-2x mr-2"></i>
            <i class="fab fa-twitter-square fa-2x mr-2"></i>
            <i class="fab fa-pinterest-square fa-2x mr-2"></i>
            <i class="fas fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
      <div class="dog-show-card d-flex justify-content-center">
        <%= link_to 'Back', dogs_path, class: 'btn btn-outline-primary' %>
        <% if current_user == @dog.user %>
          <%= link_to 'Edit', edit_dog_path(@dog), class: 'btn btn-outline-warning ml-3' %>
          <%= link_to 'Remove', dog_path(@dog), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger ml-3' %>
        <% end -%>
      </div>
    </div>
  </div>

</div>
