<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h1><%= @user.username %>'s profile</h1>

        </div>
        <div class="col-2 text-right">
          <% if @user.profile_picture.attached? %>
            <img src="<%= cl_image_path(@user.profile_picture.key) %> " class="card-dog-user avatar-large" />
          <% else %>
            <%= image_tag "no-avatar.png", class: "card-dog-user avatar-large" %>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card rounded-lg mb-3">
        <div class="card-header">
          <h3>Biography</h3>
        </div>
        <div class="card-body">
          <p><%= @user.biography %></p>
        </div>
      </div>

      <div class="card rounded-lg mb-3">
        <div class="card-header">
          <h3>Rentings approvals</h3>
        </div>
        <div class="card-body">
          <p>Rentings pending: <%= @user.dogs.joins(:rentings).where('rentings.status=?',"Pending").count %></p>
          <p>Rentings accepted: <%= @user.dogs.joins(:rentings).where('rentings.status=?',"Accepted").count %></p>
          <p>Rentings declined: <%= @user.dogs.joins(:rentings).where('rentings.status=?',"Declined").count %></p>
        </div>
      </div>

      <div class="card rounded-lg">
        <div class="card-header">
          <h3>Rentings made</h3>
        </div>
        <div class="card-body">
          <p>Rentings pending: <%= @user.rentings.where('rentings.status=?',"Pending").count %></p>
          <p>Rentings accepted: <%= @user.rentings.where('rentings.status=?',"Accepted").count %></p>
          <p>Rentings declined: <%= @user.rentings.where('rentings.status=?',"Declined").count %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header">
      <h2>His/Her <%= pluralize(@user.dogs.count, "dog") %></h2>
    </div>
    <div class="card-body">
    <div class="cards">
      <% @user.dogs.each do |dog| %>
        <%= link_to "#{dog_path(dog)}", class:"no-links" do %>
          <div class="card-dog">
            <% if dog.profile_picture.attached? %>
              <%= cl_image_tag(dog.profile_picture.key) %>
            <% else %>
              <!-- <img src="https://source.unsplash.com/collection/3816141/1600x900?sig=<%= rand(1..1000) %>" /> -->
              <img src="<%= dog.breed.image %>" />
            <% end -%>
            <div class="card-dog-infos">
              <div>
                <h2><%= dog.name %></h2>
                <p><%= dog.breed.name %></p>
                <p><%= dog.description.truncate(75, separator: ' ') %></p>
              </div>
              <h2 class="card-dog-pricing">€<%= dog.price_per_hour %></h2>
              <% if dog.user.profile_picture.attached? %>
                <img src="<%= cl_image_path(dog.user.profile_picture.key) %> " class="card-dog-user avatar-bordered" />
              <% else %>
                <%= image_tag "no-avatar.png", class: "card-dog-user avatar-bordered" %>
              <% end -%>
            </div>
          </div>
        <% end -%>
      <% end -%>
    </div>
  </div>
  </div>
</div>
