<div class="container mt-3">
  <h1>My Rentings</h1>
  <hr>
  <ul class="list-group">
    <% if current_user.rentings.empty? %>
      <li class="list-group-item">No current Rentings.</li>
    <% end -%>
    <% current_user.rentings.each do |renting| %>
      <li class="list-group-item mb-2">
        <p>Renting id: <%= renting.id %></p>
        <p>Date: <%= renting.date %></p>
        <p>Number of hours: <%= pluralize(renting.number_of_hours, "hour") %></p>
        <p>Total price: <%= renting.number_of_hours * renting.dog.price_per_hour %> €</p>
        <p>Status: <%= renting.status %></p>
        <% if renting.pending? %>
          <%= link_to 'Edit', edit_renting_path(renting), class: 'btn btn-outline-primary rounded-pill' %>
          <%= link_to 'Cancel', renting_path(renting), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger rounded-pill ml-3' %>
        <% end -%>
      </li>
    <% end -%>
  </ul>
</div>
