<div class="container mt-3">
  <h1>Rentings</h1>
  <hr>
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-lg-6">
      <h2>My pending rentings</h2>
      <hr>
      <ul class="list-group">
        <% current_renting = false %>
        <% current_user.rentings.order('created_at DESC').each do |renting| %>
          <% if renting.pending? %>
            <h5><%= renting.dog.name %></h5>
            <li class="list-group-item mb-2">
              <p>Renting id: <%= renting.id %></p>
              <p>Date: <%= renting.date %></p>
              <p>Number of hours: <%= pluralize(renting.number_of_hours, "hour") %></p>
              <p>Total price: <%= renting.number_of_hours * renting.dog.price_per_hour %> €</p>
              <p>Status: <span class="text-warning"><%= renting.status %></span></p>

              <%= link_to 'Edit', edit_renting_path(renting), class: 'btn btn-outline-primary rounded-pill' %>
              <%= link_to 'Cancel', renting_path(renting), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger rounded-pill ml-3' %>
            </li>
            <% current_renting = true %>
          <% end -%>
        <% end -%>
        <% unless current_renting %>
          <li class="list-group-item mb-2">
            No pending rentings.
          </li>
        <% end %>
      </ul>
      <h2>My previous rentings</h2>
      <hr>
      <ul class="list-group">
        <% previous_renting = false %>
        <% current_user.rentings.order('created_at DESC').each do |renting| %>
          <% if !renting.pending? %>
            <h5><%= renting.dog.name %></h5>
            <li class="list-group-item mb-2">
              <p>Renting id: <%= renting.id %></p>
              <p>Date: <%= renting.date %></p>
              <p>Number of hours: <%= pluralize(renting.number_of_hours, "hour") %></p>
              <p>Total price: <%= renting.number_of_hours * renting.dog.price_per_hour %> €</p>
              <p>Status: <span class="<%= renting.status == "Accepted" ? "text-success" : "text-danger" %>"><%= renting.status %></span></p>

            </li>
            <% previous_renting = true %>
          <% end -%>
        <% end -%>
        <% unless previous_renting %>
          <li class="list-group-item mb-2">
            No previous rentings.
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-lg-6">
      <h2>Rentings to validate</h2>
      <hr>
      <ul class="list-group">
        <% to_validate = false %>
        <% current_user.dogs.each do |dog| %>

          <% dog.rentings.order('created_at DESC').each do |renting| %>
            <% if renting.pending? %>
            <h5><%= dog.name %></h5>
              <li class="list-group-item mb-2">
                <p>Renting id: <%= renting.id %></p>
                <p>Date: <%= renting.date %></p>
                <p>Number of hours: <%= pluralize(renting.number_of_hours, "hour") %></p>
                <p>Total price: <%= renting.number_of_hours * renting.dog.price_per_hour %> €</p>
                <% if renting.pending? %>
                  <p>Status: <span class="text-warning"><%= renting.status %></span></p>
                <% else %>
                  <p>Status: <span class="<%= (renting.status == "Accepted" ? "text-success" : "text-danger") %>"><%= renting.status %></span></p>
                <% end -%>
                <% if renting.pending? %>
                    <%= simple_form_for([renting.dog, renting]) do |f| %>
                      <%= f.input :status, as: :radio_buttons, collection: ["Accept","Decline"], checked: "Accept" %>
                      <%= f.button :submit, value: "Validate", class: "btn btn-outline-primary rounded-pill" %>
                    <% end -%>
                <% end -%>
              </li>
              <% to_validate = true %>
            <% end -%>
          <% end -%>
        <% end -%>
        <% unless to_validate %>
          <li class="list-group-item mb-2">
            No rentings to validate.
          </li>
        <% end %>
      </ul>
      <h2>Rentings validated</h2>
      <hr>
      <ul class="list-group">
        <% previous_dog = 0 %>
        <% validated = false %>
        <% current_user.dogs.each do |dog| %>
          <% dog.rentings.order('created_at DESC').each do |renting| %>
            <% if !renting.pending? %>
              <h5><%= dog.name %></h5>
              <li class="list-group-item mb-2">
                <p>Renting id: <%= renting.id %></p>
                <p>Date: <%= renting.date %></p>
                <p>Number of hours: <%= pluralize(renting.number_of_hours, "hour") %></p>
                <p>Total price: <%= renting.number_of_hours * renting.dog.price_per_hour %> €</p>
                <% if renting.pending? %>
                  <p>Status: <span class="text-warning"><%= renting.status %></span></p>
                <% else %>
                  <p>Status: <span class="<%= (renting.status == "Accepted" ? "text-success" : "text-danger") %>"><%= renting.status %></span></p>
                <% end -%>
              </li>
              <% validated = true %>
            <% end -%>

          <% end -%>
        <% end -%>
        <% unless validated %>
          <li class="list-group-item mb-2">
            No validated rentings.
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
